openapi: 3.0.3
info:
  title: Purchasing Impact API
  version: "1.0"
  description: |
    Use our API to buy **trees, carbon avoidance, carbon removals, or habitat restoration** directly from your app or service.

    - Specify the number of trees, tonnes of CO₂e, or m² of habitat you want to fund.
    - Purchases are **billed on the 1st of each month**. Impact appears in your profile as **pending** until payment is successful.
    - Minimum billing amount: **£3** (or equivalent). Smaller purchases roll over to the next invoice.

    ### Getting started

    1. Create an account at [ecologi.com/pay-as-you-go](https://ecologi.com/pay-as-you-go).
    2. Find your **API key** on the "[Impact API](https://ecologi.com/impact-api)" page.
    3. Click on an endpoint on the left to get started.
servers:
  - url: "https://public.ecologi.com"
    description: Production
paths:
  /impact/trees:
    post:
      summary: Purchase trees
      operationId: create-impact-trees
      description: Use this endpoint to purchase 1 or more trees per request
      security:
        - API Key: []
      requestBody:
        description: |-
          Send a JSON body object with key "number" and a value equalling the number of trees to plant in your forest for this request. You can optionally add a "name" key, which will be shown when you view the trees in your Ecologi forest.

          If your Ecologi profile is public, any personally identifiably information sent in the "name" field (ie. the name of your customer) will also be visible publicily, and therefore you should ask for permission before sending it to us, or shield the user by only sending their first name for example.

          If multiple requests are made to plant trees with the same name within 24hrs, they will accumulate on a single tile. If you would like to avoid this you can provide a different name value like maybe adding the first letter of the surname to the next lot or space the requests greater than 24hrs apart.

          Passing "test: true" will return the anticipated response, but you will not be charged for these trees, nor will they show in your Ecologi profile forest.
        content:
          application/json:
            schema:
              description: ""
              type: object
              properties:
                number:
                  type: number
                  minimum: 1
                  maximum: 250000
                  description: The number of trees to purchase
                name:
                  type: string
                  minLength: 1
                  example: Our valued customer 'X' for order 'Y'
                  description: The "funded by" name for these trees
                test:
                  type: boolean
                  description: Whether this is a test transaction or not
              required:
                - number
            examples:
              Buy trees (live):
                value:
                  number: 2
              Buy trees (test):
                value:
                  number: 2
                  test: true
              Buy trees with name (test):
                value:
                  number: 2
                  name: Our valued customer 'X' for order 'Y'
                  test: true
      responses:
        "201":
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  amount:
                    type: number
                    example: 1.80
                    description: The total cost of this transaction
                  currency:
                    type: string
                    enum:
                      - GBP
                      - USD
                      - EUR
                      - CAD
                      - AUD
                    example: GBP
                    description: The currency of the amount
                  treeUrl:
                    type: string
                    example: "https://ecologi.com/test?tree=604a74856345f7001caff578"
                    description: The URL for the trees you just planted
                  name:
                    type: string
                    example: Our valued customer 'X' for order 'Y'
                    description: The name you passed in the request body
                  projectDetails:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                        projectUrl:
                          type: string
                        splitPercentage:
                          type: number
                        splitAmountTrees:
                          type: number
                required:
                  - amount
                  - currency
                  - treeUrl
              examples:
                3 trees purchased:
                  value:
                    amount: 1.80
                    currency: GBP
                    treeUrl: "https://ecologi.com/test?tree=604a74856345f7001caff578"
                    name: Our valued customer 'X' for order 'Y'
                    projectDetails:
                      - name: "Forest restoration in Kenya"
                        projectUrl: "https://ecologi.com/projects/forest-restoration-in-kenya"
                        splitPercentage: 100
                        splitAmountTrees: 3
          description: "If your request is successful you'll receive a JSON object containing information about your purchase. Including the amount it cost, the currency billed, the name (if passed in the request), the URL of the pending tree in your Ecologi profile forest and details of the associated projects."
      parameters:
        - schema:
            type: string
          in: header
          name: "Idempotency-Key"
          description: This random request key allows you to safely retry requests without accidentally performing the same operation twice.
    parameters: []
  /impact/carbon:
    post:
      summary: Purchase carbon avoidance
      operationId: post-impact-carbon
      responses:
        "201":
          description: "If your request is successful you'll receive a JSON object containing information about your purchase. Including the amount it cost, the currency billed, the number and unit of the purchase, converted tonnes amount and details of the associated projects."
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  number:
                    type: number
                    description: The number of units you purchased
                  units:
                    type: string
                    enum:
                      - KG
                      - Tonnes
                    description: The type of purchase you made (KG/Tonnes)
                  numberInTonnes:
                    type: number
                    minimum: 0.001
                    description: The number of units you purchased converted to tonnes
                  amount:
                    type: number
                    example: 0.09
                    description: The total cost of this transaction
                  currency:
                    type: string
                    enum:
                      - GBP
                      - USD
                      - EUR
                      - CAD
                      - AUD
                    description: The currency of the amount
                  name:
                    type: string
                    example: Our valued customer 'X' for order 'Y'
                    description: The name you passed in the request body
                  projectDetails:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                        projectUrl:
                          type: string
                        splitPercentage:
                          type: number
                        splitAmountTonnes:
                          type: number
                required:
                  - number
                  - units
                  - numberInTonnes
                  - amount
                  - currency
              examples:
                10KG Transaction response:
                  value:
                    number: 10
                    units: KG
                    numberInTonnes: 0.01
                    amount: 0.09
                    currency: GBP
                    name: Our valued customer 'X' for order 'Y'
                    projectDetails:
                      - name: Peatland restoration and conservation in Indonesia
                        projectUrl: https://ecologi.com/projects/peatland-restoration-in-indonesia
                        splitPercentage: 14,
                        splitAmountTonnes: 0.0014
                      - name: Converting landfill gas to energy in Northern Turkey
                        projectUrl: https://ecologi.com/projects/converting-landfill-gas-to-energy-turkey
                        splitPercentage: 86,
                        splitAmountTonnes: 0.0086
      description: Use this endpoint to purchase 1 or more kilogram of carbon avoidance credits per request
      security:
        - API Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: "Idempotency-Key"
          description: This random request key allows you to safely retry requests without accidentally performing the same operation twice.
      requestBody:
        content:
          application/json:
            schema:
              description: ""
              type: object
              properties:
                number:
                  type: number
                  example: 0
                  description: The number of units to purchase
                units:
                  type: string
                  enum:
                    - KG
                    - Tonnes
                  description: The type of purchase to make (KG/Tonnes)
                name:
                  type: string
                  minLength: 1
                  example: Our valued customer 'X' for order 'Y'
                  description: The "funded by" name for this purchase
                test:
                  type: boolean
                  description: Whether this is a test transaction or not
              required:
                - number
                - units
            examples:
              Buy credits (live):
                value:
                  number: 10
                  units: KG
              Buy credits (test):
                value:
                  number: 10
                  units: KG
                  test: true
              Buy credits with name (test):
                value:
                  number: 10
                  units: KG
                  name: Our valued customer 'X' for order 'Y'
                  test: true
        description: |-
          Send a JSON body object with both "units" and "number" keys for a valid request.

          "units" tells the API that you wish to purchase credits by the kilogram or tonne.

          "number" should be the value equaling the number of units of carbon credits to purchase for this request.

          You can optionally add a "name" key, which will be shown as the "funded by" name when viewing this impact on your Ecologi profile.

          If your Ecologi profile is public, any personally identifiable information sent in the "name" field (ie. the name of your customer) will also be visible publicly, and therefore you should ask for permission before sending it to us, or shield the user by only sending their first name for example.

          Passing "test: true" will return the anticipated response, but you will not be charged for the credits, nor will they show on your Ecologi profile.

          Note: the smallest valid amount to purchase is 1kg. If you're using the "Tonnes" unit, 0.001 is the minimum value.
  /impact/carbon-removal:
    post:
      summary: Purchase carbon removals
      operationId: post-impact-carbon-removal
      description: Use this endpoint to purchase carbon removal credits. Carbon removals actively remove CO₂e from the atmosphere through projects like biochar and enhanced rock weathering. The unit of purchase is kilograms (KG).
      security:
        - API Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: "Idempotency-Key"
          description: This random request key allows you to safely retry requests without accidentally performing the same operation twice.
      requestBody:
        content:
          application/json:
            schema:
              description: ""
              type: object
              properties:
                number:
                  type: number
                  minimum: 1
                  description: The number of kilograms of carbon removal to purchase
                name:
                  type: string
                  minLength: 1
                  example: Our valued customer 'X' for order 'Y'
                  description: The "funded by" name for this purchase
                test:
                  type: boolean
                  description: Whether this is a test transaction or not
              required:
                - number
            examples:
              Buy carbon removals (live):
                value:
                  number: 10
              Buy carbon removals (test):
                value:
                  number: 10
                  test: true
              Buy carbon removals with name (test):
                value:
                  number: 10
                  name: Our valued customer 'X' for order 'Y'
                  test: true
        description: |-
          Send a JSON body object with a "number" key representing the amount of carbon removal in kilograms (KG) you wish to purchase.

          The number must be a positive integer representing kilograms of CO₂e to be removed from the atmosphere.

          You can optionally add a "name" key, which will be shown as the "funded by" name when viewing this impact on your Ecologi profile.

          If your Ecologi profile is public, any personally identifiable information sent in the "name" field (ie. the name of your customer) will also be visible publicly, and therefore you should ask for permission before sending it to us, or shield the user by only sending their first name for example.

          Passing "test: true" will return the anticipated response, but you will not be charged for the removals, nor will they show on your Ecologi profile.
      responses:
        "201":
          description: "If your request is successful you'll receive a JSON object containing information about your purchase. Including the amount it cost, the currency billed, the URL to view your impact tile, and details of the associated project."
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  amount:
                    type: number
                    example: 1.85
                    description: The total cost of this transaction
                  currency:
                    type: string
                    enum:
                      - GBP
                      - USD
                      - EUR
                      - CAD
                      - AUD
                    description: The currency of the amount
                  tileUrl:
                    type: string
                    example: "https://ecologi.com/business-name?tileId=abc123"
                    description: The URL to view your carbon removal impact
                  name:
                    type: string
                    example: Our valued customer 'X' for order 'Y'
                    description: The name you passed in the request body
                  projectDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the carbon removal project
                        projectUrl:
                          type: string
                          description: URL to the project page
                        quantity:
                          type: number
                          description: The amount of carbon removal (in KG) allocated to this project
                required:
                  - amount
                  - currency
                  - tileUrl
                  - projectDetails
              examples:
                10KG carbon removal purchased:
                  value:
                    amount: 1.85
                    currency: GBP
                    tileUrl: "https://ecologi.com/business-name?tileId=abc123"
                    name: Our valued customer 'X' for order 'Y'
                    projectDetails:
                      - name: "Biochar carbon removal"
                        projectUrl: "https://ecologi.com/projects/biochar-carbon-removal"
                        quantity: 10
  /impact/habitat-restoration:
    post:
      summary: Purchase habitat restoration
      operationId: post-impact-habitat-restoration
      description: Use this endpoint to purchase habitat restoration. This funds the restoration of natural habitats such as wildflower meadows and seagrass. The unit of purchase is square metres (m²).
      security:
        - API Key: []
      parameters:
        - schema:
            type: string
          in: header
          name: "Idempotency-Key"
          description: This random request key allows you to safely retry requests without accidentally performing the same operation twice.
      requestBody:
        content:
          application/json:
            schema:
              description: ""
              type: object
              properties:
                number:
                  type: number
                  minimum: 0.1
                  description: The number of square metres of habitat to restore (supports 1 decimal place)
                name:
                  type: string
                  minLength: 1
                  example: Our valued customer 'X' for order 'Y'
                  description: The "funded by" name for this purchase
                test:
                  type: boolean
                  description: Whether this is a test transaction or not
              required:
                - number
            examples:
              Buy habitat restoration (live):
                value:
                  number: 5
              Buy habitat restoration (test):
                value:
                  number: 5
                  test: true
              Buy habitat restoration with name (test):
                value:
                  number: 5
                  name: Our valued customer 'X' for order 'Y'
                  test: true
        description: |-
          Send a JSON body object with a "number" key representing the amount of habitat restoration in square metres (m²) you wish to purchase.

          The number must be at least 0.1 and supports up to 1 decimal place (e.g. 5.5).

          You can optionally add a "name" key, which will be shown as the "funded by" name when viewing this impact on your Ecologi profile.

          If your Ecologi profile is public, any personally identifiable information sent in the "name" field (ie. the name of your customer) will also be visible publicly, and therefore you should ask for permission before sending it to us, or shield the user by only sending their first name for example.

          Passing "test: true" will return the anticipated response, but you will not be charged for the restoration, nor will it show on your Ecologi profile.
      responses:
        "201":
          description: "If your request is successful you'll receive a JSON object containing information about your purchase. Including the amount it cost, the currency billed, the URL to view your impact tile, and details of the associated project."
          content:
            application/json:
              schema:
                description: ""
                type: object
                properties:
                  amount:
                    type: number
                    example: 25
                    description: The total cost of this transaction
                  currency:
                    type: string
                    enum:
                      - GBP
                      - USD
                      - EUR
                      - CAD
                      - AUD
                    description: The currency of the amount
                  tileUrl:
                    type: string
                    example: "https://ecologi.com/business-name?tileId=xyz789"
                    description: The URL to view your habitat restoration impact
                  name:
                    type: string
                    example: Our valued customer 'X' for order 'Y'
                    description: The name you passed in the request body
                  projectDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the habitat restoration project
                        projectUrl:
                          type: string
                          description: URL to the project page
                        quantity:
                          type: number
                          description: The amount of habitat restoration (in m²) allocated to this project
                required:
                  - amount
                  - currency
                  - tileUrl
                  - projectDetails
              examples:
                5m² habitat restoration purchased:
                  value:
                    amount: 25
                    currency: GBP
                    tileUrl: "https://ecologi.com/business-name?tileId=xyz789"
                    name: Our valued customer 'X' for order 'Y'
                    projectDetails:
                      - name: "UK wildflower meadow restoration"
                        projectUrl: "https://ecologi.com/projects/uk-wildflower-meadow-restoration"
                        quantity: 5
components:
  securitySchemes:
    API Key:
      type: http
      scheme: bearer
      description: 'To authorise your requests, send the "Authorization" header along with an API key using the "Bearer" format.'
